.keys
  padding: 120px 0
  &__content
    // display: grid
    // grid-template-columns: repeat(2,1fr)
    // grid-template-rows: 1136px.
    display: flex
    flex-direction: column
    +min_sm
    +min_md
    +min_lg
    +min_xl
      display: flex
      flex-direction: column
    +min_xxl
      display: flex
      flex-direction: column
    +min_fullHd
      display: grid
      grid-template-columns: repeat(2,1fr)
      grid-template-rows: 1136px
  &__col
    position: relative
    display: grid
    grid-template-rows: 1136px
    height: 1136px
    &:nth-child(1)
      background: #0B0B0B

    &:nth-child(2)
      background: #DA7B26

  &__wheel
    transition: all 0.3s ease
    width: 100%


  &__btn
    color: transparent
    -webkit-text-stroke: 1.5px #fff

  &__dropdown-btn
    color: #fff

  &__btn,
  &__dropdown-btn
    font-weight: 800
    font-size: 120px
    line-height: 87px
    cursor: pointer
    background: transparent
    border: none

  .swiper-slide-active
    .keys__btn
      color: #fff

  &__dropdown
    position: absolute
    top: 50%
    left: 0
    width: 100%
    height: 100%
    padding-top: 165px
    background: inherit
    opacity: 0
    visibility: hidden
    pointer-events: none
    transform: translateY(-50%)
    z-index: 1
    transition: all 0.3s ease
    overflow: hidden

    &--active
      opacity: 1
      visibility: visible
      pointer-events: initial
      &::after
      .keys__dropdown-inner
        transform: translateY(0)

    &-inner
      display: flex
      flex-direction: column
      row-gap: 120px
      transform: translateY(50%)
      transition: all 0.3s ease-in-out 0.3s


  &__list
    display: flex
    flex-direction: column
    align-items: center

  &__sublist
 

  &__subitem
    position: relative
    text-align: center
    &.active
      img
        display: block
      a
        color: #DA7B26
    img
      width: 237px
      height: 237px
      position: absolute
      top: 50%
      left: 16%
      transform: translateY(-50%)
      display: none
    a
      position: relative
      z-index: 1
      font-weight: 600
      font-size: 45px
      line-height: 90px
      text-decoration: none
      color: #fff
