.main-section
  position: relative
  padding: 133px 176px 110px 181px
  &__svg-wrap
    display: flex
    justify-content: center
    svg
      position: absolute
      top: -210px
      transform: translate(-50% -50%)
      z-index: -999 
      width: 997px
      height: 1170px
  &__title-wrap
    text-align: center
    font-size: 130px
    font-weight: 900
    line-height: 137.59px

  &__title-line
    display: flex
    justify-content: center
    align-items: center
    gap: 8px
  
  &__title-bold
     color: #000

  &__title-outlined
    color: white
    -webkit-text-stroke: 1px #000
    font-weight: 900

  &__title-accent
    font-weight: 900
    color:  #DA7B26
  &__title-icon
    margin-bottom: 25px

  &__subtitle-wrap
    display: flex
    justify-content: center
    align-items: center
    margin-top: 40px
    margin-bottom: 80px
    span
      font-size: 26px
      font-weight: 500
      line-height: 31.54px
      letter-spacing: 0.58em
      text-align: center

  &__link-learn-more
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 120px

  &__two-block
    position: relative
    display: flex
    height: 290px
    span
      position: absolute
      top: 50%
      left: 50%
      z-index: 10
      font-size: 177px
      font-weight: 900
      line-height: 183px
      text-align: left
      color: transparent
      -webkit-text-stroke: 1px #BCB6B6E5
      transform: translate(-50%,-50%)

  &__first-block
    display: flex
    justify-content: start
    align-items: center
    background:  #FBFAFA
    width: 100%
    a
      padding-left: 100px

  &__second-block
    background-image: url("../assets/images/background.png")
    background-repeat: no-repeat
    background-size: cover
    width: 100%














