.possibilities
  padding-top: 120px
  padding-bottom: 120px
  &__adaptive-items-wrap
    position: relative
    // display: flex
    // justify-content: center
    // align-items: center
    // flex-direction: column
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
      // display: flex
    +min_fullHd
      display: none


  &__adaptive-item
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    img
      margin-bottom: 36px
      width: 62px
      height: 89px
    h4
      margin-bottom: 10px
      font-size: 20px
      font-weight: 900
      line-height: 22px
      text-align: center
      span
        color: #DA7B26
    p
      font-size: 15px
      font-weight: 400
      line-height: 22.5px
      text-align: center
      max-width: 322px


  &__title-wrap
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    flex-direction: row
    margin-bottom: 30px
    +min_sm
      display: flex
      justify-content: center
      flex-direction: column
      gap: 50px
    +min_md
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      margin-bottom: 40px
    +min_lg
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    +min_xl
      display: flex
      align-items: center
      flex-direction: column
      margin-bottom: 80px
    +min_xxl
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 80px
    +min_fullHd
      display: flex
      align-items: center
      flex-direction: row
      justify-content: space-between
      margin-bottom: 85px
    a
      display: none
      +min_sm
      +min_md
      +min_lg
        display: flex
      +min_xl
        display: flex
      +min_xxl
        display: flex
      +min_fullHd
        display: flex

    h2
      text-transform: uppercase
      font-size: 30px
      font-weight: 900
      line-height: 31.05px
      text-align: center
      +min_sm
        text-align: center
        font-size: 30px
        line-height: 31px
      +min_md
        text-align: center
        font-size: 65px
      +min_lg
        text-align: center
        font-size: 80px
      +min_xl
        font-size: 85px
      +min_xxl
        font-size: 90px
        line-height: 70px
      +min_fullHd
        text-transform: uppercase
        font-size: 120px
        font-weight: 900
        line-height: 124.18px
        text-align: left
  &__items-wrap
    display: none
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
      display: none
    +min_fullHd
      display: flex
      gap: 25px
      align-items: center
      
  &__item
    img
      margin-bottom: 55px
    h4
      font-size: 38px
      max-width: 591px
      width: 100%
      font-weight: 900
      line-height: 41.8px
      text-align: left
      color: #0B0B0B
      margin-bottom: 30px
      span
        color:  #DA7B26

  &__item-text
    max-width: 605px
    width: 100%
    font-size: 22px
    font-weight: 400
    line-height: 35.2px
    text-align: left






