.senselock
  padding-top: 120px
  padding-bottom: 120px
  &__title-wrap
    +min_sm
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      gap: 50px
    +min_md
      display: flex
      justify-content: center
      flex-direction: column
      align-content: center
      margin-bottom: 40px
    +min_lg
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    +min_xl
      display: flex
      align-items: center
      flex-direction: column
      margin-bottom: 80px
    +min_xxl
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 80px
    +min_fullHd
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-bottom: 80px
    a
      display: none
      +min_sm
        display: none
      +min_md
        display: none
      +min_lg
        display: block
      +min_xl
        display: block
      +min_xxl
        display: block
      +min_fullHd
        display: block
    h2
      text-transform: uppercase
      font-size: 30px
      font-weight: 900
      line-height: 31px
      text-align: center
      margin-bottom: 20px
      +min_sm
        text-align: center
        font-size: 30px
        line-height: 31px
      +min_md
        text-align: center
        font-size: 65px
      +min_lg
        text-align: center
        font-size: 80px
      +min_xl
        font-size: 85px
      +min_xxl
        font-size: 90px
        line-height: 70px
      +min_fullHd
        text-transform: uppercase
        font-size: 120px
        font-weight: 900
        line-height: 124.18px
        text-align: left
  &__items-wrap
    margin-bottom: 70px
    border-bottom: 1px solid #454545

  &__item
    display: flex
    align-items: center
    margin-bottom: 20px
    +min_sm
    +min_md
      margin-bottom: 30px
    +min_lg
    +min_xl
      margin-bottom: 40px
    +min_xxl
      gap: 74px
      margin-bottom: 60px
    +min_fullHd
      margin-bottom: 60px
      gap: 168px
    h5
      font-size: 16px
      font-weight: 400
      line-height: 24px
      text-align: left
      margin-bottom: 40px
      display: none
      +min_sm
      +min_md
      +min_lg
      +min_xl
      +min_xxl
        display: block
        font-size: 25px
        line-height: 38.4px
        margin-bottom: 10px
      +min_fullHd
        font-size: 24px
        font-weight: 400
        line-height: 38.4px
        text-align: left
        display: block
        margin-bottom: 30px
      span
        color: #DA7B26
    a
      font-size: 16px
      font-weight: 600
      text-align: left
      text-decoration: none
      color: #0B0B0B
      +min_sm
        font-size: 17px
      +min_md
        font-size: 20px
      +min_lg
        font-size: 22px
      +min_xl
        font-size: 25px
      +min_xxl
        font-size: 28px
        line-height: 24px
      +min_fullHd
        font-size: 24px
        line-height: 24px

    p
      color: #000
      font-size: 16px
      font-weight: 400
      line-height: 24px
      text-align: left
      +min_sm
      +min_md
        font-size: 20px
        line-height: 24px
      +min_lg
        font-size: 23px
        line-height: 30px
      +min_xl
        font-size: 25px
        line-height: 38px
      +min_xxl
        font-size: 28px
        line-height: 43px
      +min_fullHd
        font-size: 30px
        font-weight: 400
        line-height: 48px
        text-align: left
        max-width: 1140px
        width: 100%
      span
        color: #DA7B26
    h6
      font-size: 15px
      font-weight: 400
      line-height: 23px
      text-align: left
      +min_sm
        font-size: 17px
        line-height: 36px
      +min_md
        font-size: 20px
        line-height: 22px
      +min_lg
       font-size: 22px
       line-height: 38px
      +min_xl
       font-size: 25px
      +min_xxl
        font-size: 28px
        line-height: 38.4px
      +min_fullHd
        font-size: 24px
        font-weight: 400
        line-height: 38.4px
        text-align: left
      span
        color: #DA7B26

  &__items-second-block
    display: flex
    align-items: center
    gap: 100px

  &__second-block-item
    max-width: 650px
    width: 100%
    height: 328px
    // h3
    //   display: flex
    //   align-items: flex-start
    //   justify-content: start
    //   gap: 11px
    //   font-size: 80px
    //   font-weight: 900
    //   line-height: 82.79px
    //   text-align: left
    //   color: #000
    //   span
    //     font-size: 40px
    //     font-weight: 900
    //     line-height: 41.39px
    //     text-align: left
    //     margin-bottom: 38px
    //     -webkit-text-stroke: 1px #000
    //     color: #fff
  &__second-block-number
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    h3
      display: flex
      align-items: flex-start
      justify-content: start
      gap: 11px
      font-size: 80px
      font-weight: 900
      line-height: 82.79px
      text-align: left
      color: #000
      span
        font-size: 40px
        font-weight: 900
        line-height: 41.39px
        text-align: left
        margin-bottom: 38px
        -webkit-text-stroke: 1px #000
        color: #fff
    h6
      font-size: 18px
      font-weight: 400
      line-height: 30.6px
      text-align: left
      svg
        margin-right: 5px

  &__second-block-txt
    a
      font-size: 28px
      font-weight: 600
      line-height: 37.6px
      text-align: left
      color: #000
      transition:  all 0.4s ease
      text-decoration: none
      &:hover
        color: #DA7B26
    p
      margin-top: 40px
      font-size: 22px
      font-weight: 400
      line-height: 33px
      text-align: left








