.virbox
  padding-top: 120px
  background:  #0B0B0B
  &__link-white-first
    font-size: 20px
    font-weight: 600
    line-height: 24.5px
    text-align: left
    color: #FFFF
    text-decoration: none
    transition: all 0.5s ease
    display: none
    +min_sm
      display: none
    +min_md
      display: none
    +min_lg
      display: block
    +min_xl
      display: block
    +min_xxl
      display: block
    +min_fullHd
      display: block
    svg
      margin-left: 8px
    &:hover
      color:  #DA7B26

  &__link-white-second
      display: flex
      align-items: center
      font-size: 20px
      font-weight: 600
      line-height: 24.5px
      text-align: left
      color: #FFFF
      text-decoration: none
      transition: all 0.5s ease
      +min_sm
        display: flex
      +min_md
        display: flex
      +min_lg
        display: none
      +min_xl
        display: none
      +min_xxl
        display: none
      +min_fullHd
        display: none
      svg
        margin-left: 10px
      &:hover
        color:  #DA7B26

  &__title-wrap
    display: flex
    align-items: center
    flex-direction: column
    margin-bottom: 30px
    +min_sm
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      gap: 50px
    +min_md
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      margin-bottom: 40px
    +min_lg
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    +min_xl
      display: flex
      align-items: center
      flex-direction: column
      margin-bottom: 80px
    +min_xxl
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 80px
    +min_fullHd
      display: flex
      justify-content: space-between
      flex-direction: row
      align-items: center
      margin-bottom: 96px
    // a
    //   display: none
    //   +min_sm
    //     display: none
    //   +min_md
    //     display: none
    //   +min_lg
    //     display: block
    //   +min_xl
    //     display: block
    //   +min_xxl
    //     display: block
    //   +min_fullHd
    //     display: block
    h2
      color: #fff
      text-transform: uppercase
      font-size: 30px
      font-weight: 900
      line-height: 31.05px
      text-align: center
      +min_sm
        text-align: center
        font-size: 30px
        line-height: 40px
      +min_md
        text-align: center
        font-size: 65px
        line-height: 60px
      +min_lg
        text-align: center
        font-size: 80px
        line-height: 75px
      +min_xl
        font-size: 85px
      +min_xxl
        font-size: 90px
        line-height: 80px
      +min_fullHd
        text-transform: uppercase
        font-size: 120px
        font-weight: 900
        line-height: 108px
        text-align: left
        color: #ffff
      span
        color:   #DA7B26
  &__items-wrap
    display: flex
    flex-direction: column-reverse
    align-items: center
    justify-content: center
    gap: 50px
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
      display: flex
      flex-direction: column-reverse
      align-items: center
      justify-content: center
      gap: 50px
    +min_fullHd
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: flex-start
      // gap: 151px

  &__item
    h5
      font-size: 16px
      font-weight: 400
      line-height: 24px
      text-align: left
      color: #FFFF
      margin-bottom: 40px
      +min_sm
      +min_md
      +min_lg
        font-size: 30px
        line-height: 51px
      +min_xl
      +min_xxl
        font-size: 34px
        line-height: 51px
      +min_fullHd
        font-size: 34px
        line-height: 51px
        text-align: left
        max-width: 1232px
        width: 100%
        margin-bottom: 40px
    p
      font-size: 15px
      font-weight: 400
      line-height: 21px
      text-align: left
      color: #ffff
      margin-bottom: 20px
      +min_sm
        font-size: 15px
        line-height: 22px
      +min_md
        font-size: 16px
        line-height: 30px
      +min_lg
        font-size: 22px
        line-height: 40px
      +min_xl
        font-size: 23px
        line-height: 45px
      +min_xxl
        font-size: 25px
        line-height: 48px
      +min_fullHd
        font-size: 26px
        line-height: 41px
        text-align: left
        max-width: 1232px
        width: 100%
        margin-bottom: 40px
    img
      margin-top: 43px
      +min_sm
      +min_md
      +min_lg
      +min_xl
      +min_xxl
        max-width: 700px
        height: 632px
      +min_fullHd
        margin-top: 0
        max-width: 750px
        width: 100%
        height: 682px
        margin-bottom: -94px
        // margin-left: -50px

  &__svg-txt
    display: flex
    // align-items: flex-start
    align-items: center
    gap: 11px
    margin-bottom: 10px
    +min_sm
    +min_md
    +min_lg
      // align-items: center
    +min_xl
    +min_xxl
    +min_fullHd
      // align-items: center
      gap: 21px
    svg
      width: 8.53px
      height: 8.53px
      +min_sm
      +min_md
      +min_lg
        width: 10px
        height: 10px
      +min_xl
      +min_xxl
      +min_fullHd
        width: 16px
        height: 16px
    h6
      color: #ffff
      font-size: 14px
      font-weight: 400
      line-height: 19.6px
      text-align: left
      +min_sm
        font-size: 16px
        line-height: 22px
      +min_md
        font-size: 18px
        line-height: 30px
      +min_lg
        font-size: 21px
        line-height: 35px
      +min_xl
        font-size: 22px
        line-height: 38px
      +min_xxl
        font-size: 24px
        line-height: 42px 
      +min_fullHd
        margin-top: 5px
        font-size: 24px
        font-weight: 400
        line-height: 42px
        text-align: left
        color: #FFFF