  
  <!-- Footer-->
  <footer class="footer">
    <!-- <div class="container-fluid"> -->
      <div class="footer__block">
        <div class="footer__col-first">
          <div class="footer__logo-wrap">
            <a href="#">
              <p>sense<span>lock</span></p>
            </a>
          </div>
          <div class="footer__year-txt-wrap">
            <p><span>©</span> 2007 — 2025</p>
            <span class="footer__year-txt">«Секьюлэб». Электронные защитные ключи</span>
          </div>
        </div>
        <div class="footer__col-second">
          <div class="footer__col-second-number">
            <p>8 800<span> 555–0639</span></p>
            <h5>Звонок бесплатный с территории России</h5>
          </div>
          <div class="footer__col-second-number-medium">
            <p>8 812<span> 385-5660</span></p>
            <h5>САНКТ-ПЕТЕРБУРГ</h5>
          </div>
          <div class="footer__col-second-txt-wrap">
            <span>с 11 до 17 по Московскому времени</span>
          </div>
          <div class="footer__col-second-adress">
            <span>196158, Россия, Санкт-Петербург,<br> Московское ш., д. 46, лит. Б, офис 313</span>
          </div>
          <div class="footer__col-second-link">
            <a href="#">lock@senselock.ru</a>
          </div>
        </div>
        <div class="footer__col-third">
          <div class="footer__col-third-links-wrap">
            <nav class="footer__col-third-nav">
              <ul class="footer__col-third-list">
                <li class="footer__col-third-list-item"><a href="#">продукты</a></li>
                <li class="footer__col-third-list-item"><a href="#">софт</a></li>
                <li class="footer__col-third-list-item"><a href="#">цены</a></li>
                <li class="footer__col-third-list-item"><a href="#">поддержка</a></li>
                <li class="footer__col-third-list-item"><a href="#">материалы</a></li>
                <li class="footer__col-third-list-item"><a href="#">контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </footer>

  <!-- Request popup -->
  <div class="mfp mfp--request-popup zoom-anim-dialog mfp-hide" id="request">
    <div class="mfp__title">Оставьте заявку</div>
    <div class="mfp__desc">менеджер свяжется с Вами в течение 3 часов</div>

    <form class="mfp__form">
      <div class="input-wrap">
        <input type="text" name="name" data-name="Имя" placeholder="Имя" />
      </div>
      <div class="input-wrap">
        <input type="tel" name="phone" data-name="Телефон" placeholder="Телефон" required="required" />
      </div>
      <div class="input-wrap">
        <input type="email" name="email" data-name="Почта" placeholder="Почта" />
      </div>
      <button class="btn">Send</button>

      <div class="form-result">
        <div class="mess">
          <div class="mess__title">Success!</div>
          <div class="mess__desc">We will contact with you soon</div>
        </div>
      </div>
    </form>
  </div>

  <!-- Success popup-->
  <div class="mfp mfp--succes-popup zoom-anim-dialog mfp-hide" id="success">
    <div class="form-result form-result--success">
      <div class="mess">
        <div class="mess__title">Success!</div>
        <div class="mess__desc">We will contact with you soon</div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="js/libs.min.js"></script>
  <script src="js/main.min.js"></script>
</body>
</html>