.link-more
      display: flex
      align-items: center
      gap: 8px
      font-family: $deff
      font-size: 20px
      font-weight: 600
      line-height: 24.5px
      text-align: left
      color: #0B0B0B
      text-decoration: none
      &:hover
        color: #0B0B0B