.footer
  &__adaptive-block
    background-color: #131313
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd
      display: none

  &__adaptive-logo-wrap
    position: relative
    a
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      background-color: #DA7B26
      padding: 35px 80px
      text-decoration: none
      color: #fff
      transition: all 0.4s ease
      &:hover
        color: #000
        &::after
          transform: translateX(0)
        p::after 
          width: calc( 100% - 9px )
    p
      position: relative
      font-size: 24px
      font-weight: 600
      line-height: 29.4px
      letter-spacing: 0.4em
      text-align: left
      &::after
        content: ''
        position: absolute
        width: 77px
        right: 9px
        height: 3px
        background-color: black
        bottom: -5px
        transition: all 0.3s
      span
        color: black

  &__adaptive-col-second
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding-top: 30px
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd

  &__adaptive-col-second-number
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    h5
      color: #fff
      font-size: 13px
      margin-bottom: 10px
      +min_sm
      +min_md
        font-size: 20px
        font-weight: 400
        line-height: 34px
        text-align: left
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
    p
      font-size: 34px
      font-weight: 900
      line-height: 35px
      color: #DA7B26
      margin: 0
      +min_sm
      +min_md
        font-size: 65px
        font-weight: 900
        line-height: 67.26px
        text-align: left
        color: #DA7B26
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
      span
        color: #fff


  &__adaptive-col-second-number-medium
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-bottom: 20px
    h5
      color: #fff
      font-weight: 400
      font-size: 13px
      +min_sm
      +min_md
        font-size: 20px
        line-height: 34px
        text-align: left
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
    p
      margin: 0
      font-size: 28px
      font-weight: 900
      color: #DA7B26
      +min_sm
      +min_md
        font-size: 50px
        line-height: 67.26px
        text-align: left
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
      span
        color: #fff

  &__adaptive-col-second-txt-wrap
    position: relative
    display: flex
    margin-bottom: 18px
    +min_sm
    +min_md
      margin-bottom: 30px
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd
    span
      color: #fff
      font-weight: 400
      font-size: 13px
      font-weight: 400
      line-height: 22.1px
      padding-left: 60px
      +min_sm
      +min_md
        font-size: 20px
        line-height: 37.4px
        text-align: left
        padding-left: 100px
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
    &::before
      content: ""
      position: absolute
      background-color: #DA7B26
      width: 42.67px
      height: 1px
      bottom: 9px
      +min_sm
      +min_md
        width: 80px
        height: 1px
        top: 20px
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd


  &__adaptive-col-second-adress
    margin-bottom: 26px
    +min_sm
    +min_md
      margin-bottom: 47px
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd
    // br
    //   display: none
    // +min_sm
    // +min_md
    //   display: block
    // +min_lg
    // +min_xl
    // +min_xxl
    // +min_fullHd
    span
      width: 317px
      align-items: center
      font-size: 16px
      font-weight: 400
      line-height: 24px
      color: #fff
      text-align: center
      +min_sm
      +min_md
        font-size: 28px
        font-weight: 400
        line-height: 30px
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd

  &__adaptive-col-second-link
    margin-bottom: 25px
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd
    a
      font-size: 15px
      font-weight: 400
      line-height: 25.5px
      text-align: center
      color:  #DA7B26
      +min_sm
      +min_md
        font-size: 24px
        line-height: 40.8px
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd

  &__adaptive-year-txt-block
    padding-top: 23px
    padding-bottom: 30px
    background-color: #0B0B0B
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

  &__adaptive-year-txt-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd
    p
      margin: 0
      font-size: 18px
      font-weight: 400
      line-height: 30.6px
      text-align: center
      color: #fff
      padding: 0  
      +min_sm
      +min_md
        // padding-left: 41px
        font-size: 34px
        line-height: 57.8px
        text-align: left
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
      span
        color: #DA7B26

  &__adaptive-year-txt
    margin-bottom: 11px
    color: #fff
    font-size: 14px
    font-weight: 400
    line-height: 23.8px
    text-align: center
    +min_sm
    +min_md
      font-size: 22px
      line-height: 37.4px
      text-align: left
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd

  &__adaptive-copy-wrap
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    span
      font-size: 13px
      font-weight: 400
      line-height: 22.1px
      color: #FBFAFA
      +min_sm
      +min_md
        font-size: 18px
        line-height: 30.6px
        text-align: left
      +min_lg
      +min_xl
      +min_xxl
      +min_fullHd
      a
        font-size: 13px
        font-weight: 400
        line-height: 22.1px
        color: #DA7B26
        +min_sm
        +min_md
          font-size: 18px
          font-weight: 400
          line-height: 30.6px
          text-align: left
        +min_lg
        +min_xl
        +min_xxl
        +min_fullHd

  &__block
    display: none
    +min_sm
    +min_md
    +min_lg
    +min_xl
    +min_xxl
    +min_fullHd
      display: flex
      align-items: center
      width: 100%
  &__logo-wrap
    position: relative
    a
      width: 346px
      display: flex
      justify-content: center
      align-items: center
      background-color: #DA7B26
      padding: 65px 80px
      text-decoration: none
      color: #fff
      transition: all 0.4s ease
      &:hover
        color: #000
        &::after
          transform: translateX(0)
        p::after 
          width: calc( 100% - 9px )
    p
      position: relative
      font-family: $deff
      font-size: 24px
      font-weight: 600
      line-height: 29.4px
      letter-spacing: 0.4em
      text-align: left
      &::after
        content: ''
        position: absolute
        width: 77px
        right: 9px
        height: 3px
        background-color: black
        bottom: -5px
        transition: all 0.3s
      span
        color: black

  &__col-first
    background: #0B0B0B
    height: 766px 
    flex: 1 1 33.333%
    max-width: 33.333%

  &__col-second
    // padding: 120px
    padding-top: 120px
    height: 766px
    padding-left: 120px
    flex: 1 1 33.333%
    max-width: 33.333%
    background: #131313

  &__col-third
    background: #1C1C1C
    height: 766px
    padding-left: 120px
    padding-top: 120px
    flex: 1 1 33.333%
    max-width: 33.333%
  &__year-txt-wrap
    padding-top: 50px
    margin-bottom: 326px  
    p
      padding-left: 41px
      font-family: $deff
      font-size: 34px
      font-weight: 400
      line-height: 57.8px
      text-align: left
      color: #fff
      span
        color: #DA7B26
  &__year-txt
    padding-left: 39px
    color: #fff
    font-family: $deff
    font-size: 22px
    font-weight: 400
    line-height: 37.4px
    text-align: left
  &__col-second-number
    padding-bottom: 24px
    h5
      color: #fff
      font-size: 20px
      font-weight: 400
      line-height: 34px
      text-align: left
      margin-bottom: 24px
    p
      margin: 0
      font-size: 65px
      font-weight: 900
      line-height: 67.26px
      text-align: left
      color: #DA7B26
      span
        color: #fff
  &__col-second-number-medium
    margin-bottom: 34px
    h5
      color: #fff
      font-size: 20px
      font-weight: 400
      line-height: 34px
      text-align: left
    p
      margin: 0
      font-size: 50px
      font-weight: 900
      line-height: 67.26px
      text-align: left
      color: #DA7B26
      span
        color: #fff
  &__col-second-txt-wrap
    position: relative
    display: flex
    margin-bottom: 30px
    span
      font-family: $deff
      font-size: 20px
      font-weight: 400
      line-height: 37.4px
      text-align: left
      color: #fff
      padding-left: 100px
    &::before
      content: ""
      position: absolute
      background-color: #DA7B26
      width: 80px
      height: 1px
      top: 20px
  &__col-second-adress
    margin-bottom: 87px
    span
      font-family: $deff
      font-size: 28px
      font-weight: 400
      line-height: 30px
      text-align: left
      color: #fff
  &__col-second-link
    a
      font-family: $deff
      font-size: 24px
      font-weight: 400
      line-height: 40.8px
      text-align: left
      color:  #DA7B26
    
  &__col-third-list
    display: flex
    flex-direction: column
    gap: 28px
  &__col-third-list-item
    a
      text-decoration: none
      color: #fff
      font-family: $deff
      font-size: 32px
      font-weight: 400
      line-height: 51.45px
      text-align: left

  &__copy-wrap
    padding-left: 40px
    span
      font-size: 18px
      font-weight: 400
      line-height: 30.6px
      text-align: left
      color: #FBFAFA
      a
        font-size: 18px
        font-weight: 400
        line-height: 30.6px
        text-align: left
        color: #DA7B26








