.footer
  // margin: 0 auto
  &__block
    display: flex
    align-items: center
  &__logo-wrap
    margin-bottom: 50px
    a
      width: 346px
      display: flex
      justify-content: center
      align-items: center
      background-color: #DA7B26
      padding: 65px 80px
      text-decoration: none
      color: white
      text-decoration: none
      color: #fff
    p
      position: relative
      font-family: $deff
      font-size: 24px
      font-weight: 600
      line-height: 29.4px
      letter-spacing: 0.4em
      text-align: left
      color: 
      &::after
        content: ''
        position: absolute
        width: 77px
        right: 9px
        height: 3px
        background-color: black
        bottom: -5px
        transition: all 0.3s
    span
      color: black 

  &__col-first
    background: #0B0B0B
    // padding-right: 356px
    max-width: 853px
    width: 100%
    height: 766px 

  &__col-second
    height: 766px
    max-width: 853px
    width: 100%
    // padding-right: 400px
    background: #131313
  &__col-third
    background: #1C1C1C
    height: 766px
    max-width: 853px
    width: 100%
    // padding-right: 500px
    padding-left: 119px
    padding-top: 100px
  &__year-txt-wrap
    p
      padding-left: 39px
      font-family: $deff
      font-size: 34px
      font-weight: 400
      line-height: 57.8px
      text-align: left
      color: #fff
      span
        color: #DA7B26
  &__year-txt
    padding-left: 39px
    color: #fff
    font-family: $deff
    font-size: 22px
    font-weight: 400
    line-height: 37.4px
    text-align: left
  &__col-second
    padding-left: 50px
    padding-top: 50px
    padding-right: 254px
  &__col-second-number
    padding-bottom: 24px
    h5
      color: #fff
      font-family: $deff
      font-size: 20px
      font-weight: 400
      line-height: 34px
      text-align: left
      margin-bottom: 24px
    p
      font-family: $deff
      font-size: 65px
      font-weight: 900
      line-height: 67.26px
      text-align: left
      color: #DA7B26
      span
        color: #fff
  &__col-second-number-medium
    margin-bottom: 34px
    h5
      color: #fff
      font-family: $deff
      font-size: 20px
      font-weight: 400
      line-height: 34px
      text-align: left
    p
      font-family: $deff
      font-size: 50px
      font-weight: 900
      line-height: 67.26px
      text-align: left
      color: #DA7B26
      span
        color: #fff
  &__col-second-txt-wrap
    position: relative
    display: flex
    margin-bottom: 30px
    span
      font-family: $deff
      font-size: 20px
      font-weight: 400
      line-height: 37.4px
      text-align: left
      color: #fff
      padding-left: 100px
    &::before
      content: ""
      position: absolute
      background-color: #DA7B26
      width: 80px
      height: 1px
      top: 20px
  &__col-second-adress
    margin-bottom: 62px
    span
      font-family: $deff
      font-size: 28px
      font-weight: 400
      line-height: 30px
      text-align: left
      color: #fff
  &__col-second-link
    a
      font-family: $deff
      font-size: 24px
      font-weight: 400
      line-height: 40.8px
      text-align: left
      color:  #DA7B26
      text-decoration: none
    
  &__col-third-list
    display: flex
    flex-direction: column
    gap: 28px
  &__col-third-list-item
    a
      text-decoration: none
      color: #fff
      font-family: $deff
      font-size: 32px
      font-weight: 400
      line-height: 51.45px
      text-align: left

      








